.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.img {
  height: 90px;
  width: 90px;
}


.redondeado {
  border-radius: 25px;
  width: 650px;
  height: 230px;
}
